.gameContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardContainer {
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.7);
}
.Watter {
  background-color: aqua;
  border: 5px solid rgb(61, 112, 112);
}
.Plant {
  background-color: palegreen;
  border: 5px solid rgb(86, 182, 86);
}
.Fire {
  background-color: orangered;
  border: 5px solid rgb(179, 50, 3);
}
.game-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
